@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: var(--font-montserrat); /* Use Montserrat */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-primary), sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-primary), sans-serif;
  height: 100vh;
  max-height: 100vh;
}
